WSClient/src/META-INF/wsdl/montebruno_8080/APIServiceService/APIService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://xx/" name="APIServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://xx/" schemaLocation="http://montebruno:8080/APIServiceService/APIService?xsd=1"/>
</xsd:schema>
</types>
<message name="clear">
<part name="parameters" element="tns:clear"/>
</message>
<message name="clearResponse">
<part name="parameters" element="tns:clearResponse"/>
</message>
<message name="buy">
<part name="parameters" element="tns:buy"/>
</message>
<message name="buyResponse">
<part name="parameters" element="tns:buyResponse"/>
</message>
<message name="sell">
<part name="parameters" element="tns:sell"/>
</message>
<message name="sellResponse">
<part name="parameters" element="tns:sellResponse"/>
</message>
<message name="getCars">
<part name="parameters" element="tns:getCars"/>
</message>
<message name="getCarsResponse">
<part name="parameters" element="tns:getCarsResponse"/>
</message>
<portType name="APIService">
<operation name="clear">
<input wsam:Action="http://xx/APIService/clearRequest" message="tns:clear"/>
<output wsam:Action="http://xx/APIService/clearResponse" message="tns:clearResponse"/>
</operation>
<operation name="buy">
<input wsam:Action="http://xx/APIService/buyRequest" message="tns:buy"/>
<output wsam:Action="http://xx/APIService/buyResponse" message="tns:buyResponse"/>
</operation>
<operation name="sell">
<input wsam:Action="http://xx/APIService/sellRequest" message="tns:sell"/>
<output wsam:Action="http://xx/APIService/sellResponse" message="tns:sellResponse"/>
</operation>
<operation name="getCars">
<input wsam:Action="http://xx/APIService/getCarsRequest" message="tns:getCars"/>
<output wsam:Action="http://xx/APIService/getCarsResponse" message="tns:getCarsResponse"/>
</operation>
</portType>
<binding name="APIServicePortBinding" type="tns:APIService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="clear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sell">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCars">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="APIServiceService">
<port name="APIServicePort" binding="tns:APIServicePortBinding">
<soap:address location="http://montebruno:8080/APIServiceService/APIService"/>
</port>
</service>
</definitions>